@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Roboto+Condensed:wght@300&family=Tilt+Warp&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  overflow-x: hidden;
  /* overflow-y: ; */
}